
<div class="container">

	<div class="panel-heading">
		<h1 class="text-center">Signup</h1>
	</div>
	<div class="row">
		<div class="col-sm-offset-4 col-sm-4">
			<form ng-controller="signupCtrl" ng-submit="signup()">
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
						<input type="text" name="name" placeholder="Enter Your Name" ng-model="newUser.name" class="form-control">
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-id-card fa" aria-hidden="true"></i></span>
						<input type="text" name="name" placeholder="Enter Register Number" ng-model="newUser.regNum" class="form-control">
					</div>
				</div>

				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
						<input type="text" class="form-control" name="email" id="email"  placeholder="Enter your Email" ng-model="newUser.email">	
					</div>
				</div>

				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
						<input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password" ng-model="newUser.password">
					</div>
				</div>


				<div class="form-group">

					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
						<input type="password" class="form-control" name="confirm" id="confirm"  placeholder="Confirm your Password" ng-model="newUser.rpassword">
					</div>

				</div>

				<div class="form-group ">
					<button type="submit" class="btn btn-primary btn-lg btn-block" ><i class="fa fa-sign-in fa-lg" aria-hidden="true"></i>&nbsp;Register</button>
				</div>
			</form>
		</div>
	</div>
</div>
